extend ../layout
block content
	.container
		p
			a.btn.btn-default(href="/admin/category") 添加
		.row
			table.table.table-bordered.table-hover
				thead
					tr
						th 分类名
						th 描述
						th 文章
						th 创建时间
						th 修改时间
						th 操作

				tbody
					each cat in categories
						tr
							td #{cat.name}
							td #{cat.des}
							td 
								if cat.posts && cat.posts.length > 0
									each item in cat.posts
										| #{item.title}
										br
							td #{cat.info.posted}
							td #{cat.info.updateAt}
							td
								a.btn.btn-default(href="/admin/category/update/#{cat._id}") 修改
								a.btn.btn-danger.del(href="/admin/category/delete",data-rm-id="#{cat._id}") 删除

	script(src="/public/js/admin.js")