extend ../layout
block content
	.container
		p
			a.btn.btn-default(href="/admin/posts") 添加
		.row
			table.table.table-bordered.table-hover
				thead
					tr
						th 文章名称
						th 分类
						th 作者
						th 创建时间
						th 修改时间
						th 操作

				tbody
					each item in posts
						tr
							td #{item.title}
							td
								each cat in item.category
									| #{cat.name}
									br
							td #{item.author}
							td #{item.info.posted}
							td #{item.info.updateAt}
							td
								a.btn.btn-info(href="/posts/#{item._id}") 查看
								a.btn.btn-default(href="/admin/posts/update/#{item._id}") 修改
								a.btn.btn-danger.del(href="/admin/posts/delete",data-rm-id="#{item._id}") 删除

	script(src="/public/js/admin.js")