extend ../layout
block content
	.container
		.row
			table.table.table-bordered.table-hover
				thead
					tr
						th 用户名称
						th 权限
						th 创建时间
						th 修改时间
						th 操作

				tbody
					each item in users
						tr
							td #{item.name}
							td
								if item.role < 10
									| user
								else if  item.role < 50
									| admin
								else if  item.role >= 50
									| super admin
							td #{item.info.posted}
							td #{item.info.updateAt}
							td
								//- a.btn.btn-default(href="/admin/userupdate/#{item._id}") 修改
								a.btn.btn-danger.del(href="/admin/userdelete/#{item._id}") 删除
